.fa-facebook-f, .fa-twitter, .fa-instagram {
    color: #ffffff;
}
.fa-facebook-f:hover {
    color: #3b5998;
}
.fa-twitter:hover {
    color: #00aced;
}
.fa-instagram:hover {
    color: #e95950;
}
.img-transform {
    transition: transform 0.2s ease-in-out;
}
.img-transform:hover {
    transform: scale(1.2);
}
