<div class="container">
  <div class ="row">
    <div class="col-md-6"><h1 class ="text-info">Enter data</h1></div>
    <div class="col-md-6"><button class="btn btn-info float-right" (click)="getMyLocation()"> Use my current location </button></div>
  </div>
  <div class ="row">
    <div class ="col-md-12">
      <div>
          <hr>
      <mat-form-field class="example-full-width d-block">
          <mat-label>Where are you now?</mat-label>
            <input required [value]="text" matInput placeholder="Origin place" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"  #searchStart [formControl]="searchControlStart">
      </mat-form-field>
      <mat-form-field class="example-full-width d-block">
          <mat-label>Where are you go?</mat-label>
          <input matInput placeholder="Destination place" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #searchEnd [formControl]="searchControlEnd">
    </mat-form-field>
  </div>
    </div>
  </div>
    <div class ="row">
      <div class ="col-md-12">
          <agm-map [fitBounds]="LatLngBounds" [latitude]="latitudeStart" [longitude]="longitudeStart" [scrollwheel]="true" [zoom]="zoom">
              <agm-marker *ngIf="positionStart" [latitude]="latitudeStart" [longitude]="longitudeStart"></agm-marker>
              <agm-marker *ngIf="positionEnd" [latitude]="latitudeEnd" [longitude]="longitudeEnd"></agm-marker>
              <!-- <agm-direction #direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction> -->
              <agm-polyline *ngIf="isTwoCoords&&positionStart"
              [visible]="true"
              [strokeWeight]="3">
               <agm-polyline-point
                 [latitude]="latitudeStart"
                 [longitude]="longitudeStart">
               </agm-polyline-point>
               <agm-polyline-point
               [latitude]="latitudeEnd"
               [longitude]="longitudeEnd">
             </agm-polyline-point>
             </agm-polyline>
          </agm-map>
      </div>
  </div>
</div>
