<div class="py-5" style="background-image: url(&quot;https://images.pexels.com/photos/62623/wing-plane-flying-airplane-62623.jpeg&quot;); background-repeat: repeat;">
  <div class="container">
    <div class="row"> </div>
    <div class="row">
      <div class="col-md-12 ">
        <div class="card">
          <div class="card-body ">
            <h1 class="">Choose airport</h1>
          <div class="row">
            <div class="col-md-6 p-3 fload-md-left">
               The nearest airports:<br>

              <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="dataSource" matSort>
              
                  <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
              
                  <!-- Position Column -->
                  <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="airportName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Airport name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.airportName}} </mat-cell>
                  </ng-container>
              
                  <!-- Weight Column -->
                  <ng-container matColumnDef="cityName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> City name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.cityName}} </mat-cell>
                  </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="distance">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Distance </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.distance}} </mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

                <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
                </mat-paginator>

              </div>
        </div>
        <div class="col-md-6 p-3 fload-md-right">
          <agm-map [fitBounds]="LatLngBounds" [latitude]="lat" [longitude]="lng">
            <agm-marker 
            *ngFor="let m of markers; let i = index"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [label]="m.label"
            >
            </agm-marker>
          </agm-map>
        
</div>
<button type="submit" class="btn mt-2 btn-outline-dark">Start</button>
          </div>
      </div>
    </div>
  </div>
