<div class="py-5 bg-info" style="background-repeat:repeat;">
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body p-6">
              <mat-horizontal-stepper [linear]="isLinear" #stepper>
                  <mat-step [stepControl]="firstFormGroup">
                      <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Basics information</ng-template>
                      Your travel will start on <b>{{user.dates.startDate | date:'full'}}</b> and end on <b>{{user.dates.endDate| date:'full'}}</b><br>
                      Number of people: <b>{{user.people}}</b> <br>
                      <b>From: </b>{{nameStart}} <b>To: </b> {{nameEnd}}
                    <div>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel="Step 1">Flights</ng-template>
                    Choosed airport: <b>{{user.choosedAirport.airportName}}</b><br>
                    Inbound flight: <br>
                    <table class="table table-responsive">
                        <thead>
                          <tr>
                            <th scope="col">Price</th>
                            <th scope="col">#</th>
                            <th scope="col">Arrives at</th>
                            <th scope="col">Departs at</th>
                            <th scope="col">Flight number</th>
                            <th scope="col">From airport</th>
                            <th scope="col">To airport</th>
                            <th scope="col">Airline</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let flight of user.choosedInBoundFlight[0].airline;let c=index;">
                            <td *ngIf="c===0" [attr.rowspan]="flight.length+1">{{user.choosedInBoundFlight[0].price | currency:'USD'}}</td>
                            <th scope="row">{{c+1}}</th>
                            <td>{{user.choosedInBoundFlight[0].arrives_at[c] | date:'medium'}}</td>
                            <td>{{user.choosedInBoundFlight[0].departs_at[c]| date:'medium'}}</td>
                            <td>{{user.choosedInBoundFlight[0].flightNumber[c]}}</td>
                            <td>{{user.choosedInBoundFlight[0].origin[c]}}</td>
                            <td>{{user.choosedInBoundFlight[0].destination[c]}}</td>
                            <td>{{user.choosedInBoundFlight[0].airline[c]}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <br>
                      Outbound flight: <br>
                      <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Price</th>
                              <th scope="col">#</th>
                              <th scope="col">Arrives at</th>
                              <th scope="col">Departs at</th>
                              <th scope="col">Flight number</th>
                              <th scope="col">From airport</th>
                              <th scope="col">To airport</th>
                              <th scope="col">Airline</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let flight of user.choosedOutBoundFlight[0].airline;let c=index;">
                              <td *ngIf="c===0" [attr.rowspan]="flight.length+1">{{user.choosedOutBoundFlight[0].price | currency:'USD'}}</td>
                              <th scope="row">{{c+1}}</th>
                              <td>{{user.choosedOutBoundFlight[0].arrives_at[c] | date:'medium'}}</td>
                              <td>{{user.choosedOutBoundFlight[0].departs_at[c]| date:'medium'}}</td>
                              <td>{{user.choosedOutBoundFlight[0].flightNumber[c]}}</td>
                              <td>{{user.choosedOutBoundFlight[0].origin[c]}}</td>
                              <td>{{user.choosedOutBoundFlight[0].destination[c]}}</td>
                              <td>{{user.choosedOutBoundFlight[0].airline[c]}}</td>
                            </tr>
                          </tbody>
                        </table>
                  <br>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">>
                  <ng-template matStepLabel>Car</ng-template>
                  <div class="row">
                      <div class="col-md-4">
                        <img class="img-responsive" class="height:250px width:250px img-fluid" src="https://images.freeimages.com/images/large-previews/e8e/limosine-1450334.jpg"/>
                      </div>
                      <div class="col-md-4">
                        <p><b>Price:</b> {{user.choosedCar[0]}} </p>
                        <p><b>Company name:</b> {{user.choosedCar[1].providerName}}</p>
                        <p><b>Address:</b>
                        {{user.choosedCar[1].address.city}}, {{user.choosedCar[1].address.street}}</p>
                      </div>
                      <div class="col-md-4">
                        Information about car:
                        <ul class="list-group">
                            <li class="list-group-item">Air conditioning: {{user.choosedCar[2].air_conditioning}}</li>
                            <li class="list-group-item">Category: {{user.choosedCar[2].category}}</li>
                            <li class="list-group-item">Fuel: {{user.choosedCar[2].fuel}}</li>
                            <li class="list-group-item">Transmission: {{user.choosedCar[2].tranmission}}</li>
                            <li class="list-group-item">Type: {{user.choosedCar[2].type}}</li>
                        </ul>
                      </div>
                    </div>
                  <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                  </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Hotels</ng-template>
                      <h2>{{user.choosedHotel.name}}</h2>
                      <mat-tab-group >
                      <mat-tab label="Basics information">
                      <p><br>
                        Price: {{user.choosedHotel.price | currency:'USD'}}<br>
                        Telephone number: {{user.choosedHotel.contacts}}<br>
                        Address: {{user.choosedHotel.address.street}}, {{user.choosedHotel.address.city}}
                      </p>
                      </mat-tab>
                      <mat-tab label="Amenities"> 
                        <ul class="list-group">
                          <li class="list-group-item" *ngFor ="let a of user.choosedHotel.amenities"> {{a.description}} </li>
                      </ul>
                      <br>
                      </mat-tab>
                    </mat-tab-group>
                    <div>
                        <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                    </form>
                  </mat-step>
                  <mat-step [stepControl]="firstFormGroup">
                      <form [formGroup]="firstFormGroup">
                      <ng-template matStepLabel>Interesting places</ng-template>
                      <mat-tab-group *ngFor="let p of user.choosedPlaces">
                        <mat-tab label="Basics information">
                          <div class="row">
                            <div class="col-md-7">
                           <p>{{p.shortDescription}}</p>
                            Walk time: {{p.walkTime}} min <br>
                            <a href="{{p.wikipedia}}" target="_blank">Wikipedia address</a><br>
                            <a href="{{p.location.link}}" target="_blank">Location google maps</a><br>
                            </div>
                            <div class="col-md-5">
                              <img class="img-responsive" style="height:250px;width:250px" [src]="p.mainImage">
                            </div>
                        </div>
                        </mat-tab>
                        <mat-tab label="Description"> 
                            <p>{{p.description}}</p>
                      </mat-tab>
                      </mat-tab-group>
                      <div>
                          <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      </div>
                      </form>
                    </mat-step>
              </mat-horizontal-stepper>
              <div class="float-right"> <button *ngIf="state&&saved===false" (click)="saveJourney()" mat-raised-button color="accent">Save Journey</button></div>
              <div *ngIf="!state" class="alert alert-info">
                  <strong>Info!</strong> If you want to save your journey you have to sign in!
                </div>
                <div *ngIf="state&&saved===true" class="alert alert-success">
                    <strong>Success!</strong> Your journey has been saved! Redirecting to home page ...
                </div>
        </div>
      </div>
    </div>
  </div>
</div>
