<div class="py-5" style="background-image: url(&quot;https://images.pexels.com/photos/62623/wing-plane-flying-airplane-62623.jpeg&quot;); background-repeat: repeat;">
  <div class="container">
    <div class="row"> </div>
    <div class="row">
      <div class="col-md-12 ">
        <div class="card">
          <div class="card-body ">
            <h1 class="">Choose airport</h1>
          </div>
          <div class="row">
            <div class="col-md-6 p-3 fload-md-left">
              <ul class="list-group">
                <li class="list-group-item">The nearest airports:</li>
                <li class="list-group-item active"> Kraków</li>
                <li class="list-group-item disabled">Warszawa</li>
                <a href="#" class="list-group-item list-group-item-action">Link list item</a>
              </ul>
              <div class="form-group py-3"> <label>Search other airports</label>
                <input class="form-control" placeholder="Place name, please"> </div>
              <button type="submit" class="btn mt-2 btn-outline-dark" method="get" data-target="./flight.html">Next</button>
            </div>
            <div class="col-md-6 p-3 fload-md-right">
              <img class="d-block img-fluid float-right" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDW8nO9JhT_pEjebobq9pgUF2cEp0EUb1I&amp;markers=New+York+City&amp;center=New+York+City&amp;zoom=12&amp;size=640x480&amp;sensor=false"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
