<div class="py-5" style="background-image: url(&quot;https://images.pexels.com/photos/62623/wing-plane-flying-airplane-62623.jpeg&quot;); background-repeat: repeat;">
  <div class="container">
    <div class="row"> </div>
    <div class="row">
      <div class="col-md-12 ">
        <div class="card">
          <div class="card-body ">
            <h1 class="">Choose outbound flights</h1>
          <div class="row">
            <div class="col-md-12 p-3 ">
                <div class="example-container mat-elevation-z8">

                    <mat-table #table [dataSource]="dataSource" matSort>

                      <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>  
                          <mat-cell *matCellDef="let row" >
                            <mat-checkbox aria-required="true" (click)="click(row)"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                          </mat-cell>
                      </ng-container>
                      
                      <ng-container matColumnDef="price">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="flightNumber">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Flight Number </mat-header-cell>
                          <mat-cell *matCellDef="let element"> <p *ngFor="let a of element.flightNumber">{{a}}</p> </mat-cell>
                      </ng-container>
                      
                      <ng-container matColumnDef="departs_at">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Departs At </mat-header-cell>
                          <mat-cell *matCellDef="let element"> <p *ngFor="let a of element.departs_at">{{a}}</p> </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="arrives_at">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Arrives At </mat-header-cell>
                          <mat-cell *matCellDef="let element"> <p *ngFor="let a of element.arrives_at">{{a}}</p> </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="origin">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Origin </mat-header-cell>
                          <mat-cell *matCellDef="let element"> <p *ngFor="let a of element.origin">{{a}}</p> </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="destination">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Destination </mat-header-cell>
                          <mat-cell *matCellDef="let element"> <p *ngFor="let a of element.destination">{{a}}</p> </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="airline">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Airline </mat-header-cell>
                          <mat-cell *matCellDef="let element"> <p *ngFor="let a of element.airline">{{a}}</p> </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>