<!-- <div class="py-5" style="background-image: url(&quot;https://images.pexels.com/photos/62623/wing-plane-flying-airplane-62623.jpeg&quot;); background-repeat: repeat;">
  <div class="container">
    <div class="row"> </div>
    <div class="row">
      <div class="col-md-12 ">
        <div class="card">
          <div class="card-body ">
            <h1 class="" >Choose car</h1>
            <div class="card">
              <div class="card-header"> {{price}}</div>
              <div class="card-body">
                <h4>{{providers[providerIndex]}}</h4>
                <h6 class="text-muted">{{providers[providerIndex].address}}</h6>
                <p>Information about cars
                  <br>
                </p>
              </div>
            </div>
          </div> -->
