<div class="py-5 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center align-self-center">
        <p class="mb-5"> <strong>Uniwersytet Ekonomiczny w Krakowie</strong>
          <br>Rakowicka 27
          <br>31-510 Kraków
          <br> <abbr title="Phone">P:</abbr> 000-000-000</p>
        <div class="my-3 row">
          <div class="col-4">
            <a href="https://www.facebook.com" target="_blank">
              <i class="fab fa-3x fa-facebook-f img-transform "></i>
            </a>
          </div>
          <div class="col-4">
            <a href="https://twitter.com" target="_blank">
              <i class="fab fa-3x fa-twitter img-transform "></i>
            </a>
          </div>
          <div class="col-4">
            <a href="https://www.instagram.com" target="_blank">
              <i class="fab fa-3x fa-instagram img-transform "></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0">
        <img class="img-fluid" src='https://i.imgur.com/7J3alr1.png'> </div>
    </div>
  </div>
</div>
