p:nth-child(2) {
  color: red;
}
table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}
td{width:1px;white-space:nowrap;}

agm-map {
  height: 300px;
}


input.ng-invalid.ng-touched {
border:2px red;
}
