<div class="py-5 bg-info" style="background-repeat:repeat;">
  <div class="container">
    <div class="row">
      <div class="align-self-center col-md-12 text-white">
        <p class="lead">Do you want to discover the world?&nbsp;
          <br>But you do not want to waste your time on searching for hotel, plane etc.?
          <br> </p>
        <h1 class="text-center text-md-left display-3">Let us organise your travel!
          <br> </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body p-6">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
              <div class="form-group">
                <app-autocomplete ></app-autocomplete>
              </div>
              <div class="form-group px-3">
                  <mat-form-field class="example-full-width">
                 <input matInput ngModel name="people" required #inputPeople class="form-control" (input)="addPeople($event)" placeholder="Number of people"  type="number" />
                </mat-form-field>
                </div>
                <div class="form-group  px-3">
                <mat-form-field class="example-full-width">
                  <input ngModel [min]="minDateStart"  [formControl]="date" name="startDate" #startDate required matInput  [matDatepicker]="picker1" placeholder="Choose a start date" >
                  <mat-datepicker-toggle  matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker touchUi="true" #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input ngModel  [min]="minDateEnd" name="endDate" [formControl]="date" required #endDate matInput  [matDatepicker]="picker2" placeholder="Choose a end date" >
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker touchUi="true" #picker2></mat-datepicker>
                </mat-form-field>
                <span>Start date must be before or  end date</span>
                </div>
              <button type="submit" class="btn mt-2 btn-outline-dark">Start</button>
              <mat-progress-bar *ngIf="started" mode="indeterminate"></mat-progress-bar>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
