<div class="py-5 bg-info" style="background-repeat:repeat;">
  <div class="container">
    <div class="row">
      <div class="align-self-center col-md-12 text-white">
        <p class="lead">Do you want to discover the world?&nbsp;
          <br>But you do not want to waste your time on searching for hotel, plane etc.?
          <br> </p>
        <h1 class="text-center text-md-left display-3">Let us organise your travel!
          <br> </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body p-6">
            <form [formGroup]="dataForm" (ngSubmit)="onSubmit()" >
              <div class="form-group">
                <div class="container">
                  <div class ="row">
                    <div class="col-md-6"><h1 class ="text-info">Enter data</h1></div>
                    <div class="col-md-6"><button type="button" class="btn btn-info float-right" (click)="getMyLocation()"> Use my current location </button></div>
                  </div>
                  <div class ="row">
                    <div class ="col-md-12">
                      <div>
                          <hr>
                      <mat-form-field class="example-full-width d-block">
                          <mat-label>Where are you now?</mat-label>
                            <input formControlName="origin" [(ngModel)]="valueStart"  matInput placeholder="Origin place" autocorrect="true" autocapitalize="off" spellcheck="true" type="text"  #searchStart>
                            <mat-error *ngIf="!dataForm.get('origin').valid && dataForm.get('origin').touched">Please enter a valid place</mat-error>
                      </mat-form-field>
                      <mat-form-field class="example-full-width d-block">
                          <mat-label>Where are you go?</mat-label>
                          <input formControlName="destination" matInput placeholder="Destination place" autocorrect="true" autocapitalize="off" spellcheck="true" type="text" #searchEnd>
                          <mat-error *ngIf="!dataForm.get('destination').valid && dataForm.get('destination').touched">Please enter a valid place</mat-error>
                       </mat-form-field>
                  </div>
                    </div>
                  </div>
                    <div class ="row">
                      <div class ="col-md-12">
                          <agm-map [fitBounds]="LatLngBounds" [latitude]="latitudeStart" [longitude]="longitudeStart" [scrollwheel]="true" [zoom]="zoom">
                              <agm-marker *ngIf="positionStart" [latitude]="latitudeStart" [longitude]="longitudeStart"></agm-marker>
                              <agm-marker *ngIf="positionEnd" [latitude]="latitudeEnd" [longitude]="longitudeEnd"></agm-marker>
                              <!-- <agm-direction #direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction> -->
                              <agm-polyline *ngIf="isTwoCoords&&positionStart"
                              [visible]="true"
                              [strokeWeight]="3">
                               <agm-polyline-point
                                 [latitude]="latitudeStart"
                                 [longitude]="longitudeStart">
                               </agm-polyline-point>
                               <agm-polyline-point
                               [latitude]="latitudeEnd"
                               [longitude]="longitudeEnd">
                             </agm-polyline-point>
                             </agm-polyline>
                          </agm-map>
                      </div>
                  </div>
                </div>

              </div>
              <div class="form-group px-3">
                  <mat-form-field class="example-full-width">
                 <input matInput formControlName="people" (input)="addPeople()" name="people" #inputPeople class="form-control"  placeholder="Number of people"  type="number" />
                  <mat-error *ngIf="!dataForm.get('people').valid && dataForm.get('people').touched">Please enter a valid number of people between 1 and 5</mat-error>
                </mat-form-field>
                </div>
                <div class="form-group  px-3">
                <mat-form-field class="example-full-width">
                  <input formControlName="startDate" ngModel [min]="minDateStart"   name="startDate" #startDate  matInput  [matDatepicker]="picker1" placeholder="Choose a start date" >
                  <mat-datepicker-toggle  matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker touchUi="true" #picker1></mat-datepicker>
                  <mat-error *ngIf="!dataForm.get('startDate').valid && dataForm.get('startDate').touched">Please enter a valid date</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input formControlName="endDate" ngModel  [min]="minDateEnd" name="endDate"  #endDate matInput [matDatepicker]="picker2" placeholder="Choose a end date" >
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker touchUi="true" #picker2></mat-datepicker>
                  <mat-error *ngIf="!dataForm.get('endDate').valid && dataForm.get('endDate').touched">Please enter a valid date</mat-error>
                </mat-form-field>
                </div>
              <button type="submit" class="btn mt-2 btn-outline-dark">Start</button>
              <mat-progress-bar *ngIf="started" mode="indeterminate"></mat-progress-bar>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
